.App {
  text-align: center;
}

.App-logo {
  height: 35px;
  width: 165px;
}

.textbox-quantity {
  /* height: 30px; */
  width: 70px;
}

.button-buy-now {
  height: 30px;
  width: 35px;
}

.home-page-tiles-image {
  height: 400px;
  width: 550px;
}
.product-image {
  height: 250px;
  width: 270px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
